@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200&family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Rouge+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: NukuNuku;
  src: url("./Fonts/nuku.ttf");
}

@font-face {
  font-family: RomanWood;
  src: url("./Fonts/Roman-Wood-Type-JNL.ttf");
}


@font-face {
  font-family: Rage;
  src: url("./Fonts/RAGE.ttf");
}

.poppins-text {
  font-family : "Poppins";
  letter-spacing: 0em;
}

div {
    font-family: NukuNuku;
    letter-spacing: 0.03em;
}

html::-webkit-scrollbar{
  display: none;
}

html,body {
  overflow-x: none;
  scroll-behavior: smooth;
}
